{{> header }}

<section class="h-100">
  <header class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <h1 class="text align-self-center p-2">{{title}}</h1>
        <h4 class="text align-self-center p-2">Never forget a colleagues name again.</h4>
        <button class="btn btn-danger align-self-center p-2" type="button" name="button">
          <a href="/putafacetothename">Try it!</a>
        </button>
      </div>
    </div>
  </header>
</section>

{{> footer }}